.contacto_h2 {
    font-family: $fontPrincipal;
    font-size: 36px;
    text-align: center;
    font-weight: bold;

}

.contacto_section_principal {
    padding: 4%;
}

.contacto_parrafo {
    font-family: $fontPrincipal;
    font-size: 20px;
    padding: 20px ;
    text-align: center;
    
}

.contacto_form {
    font-family: $fontPrincipal;
    font-size: large;
    line-height: 35px;
    width: 440px;
    height: 440px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 40px -10px #000;
    margin: calc(30vh - 220px) auto;
    padding: 20px 30px;
    max-width: calc(100vw -40px);
    box-sizing: border-box;
}

.contacto_form_style {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.contacto_form_style_div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contacto_buttonEnviar {
    width: 50px;
    margin: auto;
}

.contacto_mapa_section {
    text-align: center;
    padding-bottom: 4%;

}

.contacto_section_h2 {
    font-family: $fontPrincipal;
    font-size: 36px;
    padding: 20px;
    font-weight: bold;
}
