.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;
    background-color: $bgFooter;
    font-family: $fontPrincipal;
    height: 150px;
    align-items: center;

    &_redesSociales {
        text-align: center;
        display: grid;
        grid-template-rows: auto;
        justify-items: center;
        align-items: center;
        

        &_logos {
            margin: 0px 15px;
            text-decoration: none;
        }
    }

    &_info {
        text-align: center;
        display: grid;
        align-items: center;
    }
}

$RedesSociales: (
    facebook: margin 0px 25px,
    twitter: margin 0px 25px,
    instagram: margin 0px 25px,
);

@each $nombre, $margin in $RedesSociales {
    .link-#{$nombre} {
        margin: $margin;
        padding: 15px;
        text-decoration: none;
    }
    
}


