.footer {
    display: flex;
    justify-content: space-between;
    background-color: #a9f5e8;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 150px;
    align-items: center; }
    &_redesSociales {
      text-align: center;
      display: grid;
      grid-template-rows: auto;
      justify-items: center;
      align-items: center; }
      &_logos {
        margin: 0px 15px; }
    &_info {
      text-align: center;
      display: grid;
      align-items: center; }