@media (max-width: 768px) {

    .clientes {
      display: none;
    }
  
    .footer_info {
      display: none; }
    .footer_principal {
      display: flex;
      flex-direction: row;
      justify-content: space-between; } 
    
      .footer div h3 {
        display: none;
      }

      .main_article_quienesSomos {
        display: flex;
        flex-direction: column;
      }

      .main_article_quienesSomos img {
        margin: auto;
      }
    }

    @media (max-width: 425px) {

        .main_article_quienesSomos img {
            margin: auto;
            width: 150px;
            height: 150px;
          }
        
        }